img {
    border-radius: 175px;
}

p {
    background-color: black;
}

h1 {
font-size: 50px;
background-color: black;
}

h2 {
font-size: 25px;
background-color: black;
}

body {
    background-color: aqua;
    color: beige;
    text-align: center;
}

a {
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
<<<<<<< HEAD
    display: block;
    text-align: center;
    margin: 10px;
    color: blue;
}
=======
    background-color: crimson;
    color:olive;
    text-align: center;
    margin: 15px;
    font-size: 15px;
    display: block;
}
>>>>>>> 61bccf55fa036755937a5cb10de227950ad5c6b0
